@keyframes bound{
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(50px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes move{
    0%{
        left: -10%;
    }
    100%{
        left: 110%;
    }
}

.bubble{
    position: absolute;
    bottom: 400px;
    left: 0%;
}

.bubble .item{
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #FF0000;
    opacity: 10%;
}

.bound{
    animation: bound 20s ease-out 0s infinite normal;
}

.move{
    animation: move 50s linear 0s infinite normal;
}